.volume{
  display: flex;
  align-items: center;
  padding: 0 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: 0;
  position: relative;
}

.volume-range{
  transform: rotate(-90deg);
  transform-origin: left bottom;
  position: absolute;
  bottom: 50px;
  left: 50px;
  height: 50px;
  display: none;
  background: rgba(0,0,0,0.7);
  padding-right: 20px;
  border-radius: 0 20px 20px 0;
}

.volume input{
  cursor: grab;
  background-color: blue;
  border: 1px solid blue;
}

.volume:hover .volume-range{
  display: flex;
}

