.modal{
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.096);
  z-index: 1;
}

.modalClose{
  width: 24px;
  height: 24px;
  position: absolute;
  right: -6px;
  top: -6px;
  border-radius: 50%;
  border: none;
  background: #171c30;
  color: #fff;
  cursor: pointer;
}

.modalClose:after{
  content: "X";
  font-weight: bold;
  font-size: 18px;
}